
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  text-align: center;
}
.dark-mode {
    background-color: rgb(25, 29, 40);
    color: #fff;
}

.link-col{
  color: white;
}


.row-dark{
    background-color: rgb(128, 128, 128);
    color: white;
}

/* header css */
.head {
  padding: 15px 10px 0px 10px;
}

.logo {
  padding-right: 50px;
}

.header-telegram{
  font-size: 40px;
  padding-bottom: 20px;
  font-weight: 500;
}

.header-telegram-heading{
  font-size: 25px;
}

.sub-heading-telegram{
  font-size: 26px;
}


/* footer css */
.texts {
  font-size: 12px;
  font-weight: 100;
}

.footer {
  position: fixed;
  padding: 12px;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border: 2px solid rgba(43, 43, 43, 0.178);
}

/* switch css */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f3f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #5dc7c2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1f2e3a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #883712;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
